pkgbase = dpp
	pkgdesc = Lightweight and Scalable C++ Discord API Bot Library
	pkgver = 10.0.34
	pkgrel = 1
	url = https://dpp.dev/
	changelog = dpp.changelog
	arch = x86_64
	license = Apache
	makedepends = cmake
	makedepends = pkgconf
	depends = glibc
	depends = gcc-libs
	depends = openssl
	depends = zlib
	depends = nlohmann-json
	optdepends = opus: voice support
	source = https://github.com/brainboxdotcc/DPP/releases/download/v10.0.34/DPP-10.0.34.tar.gz
	source = https://github.com/brainboxdotcc/DPP/releases/download/v10.0.34/DPP-10.0.34.tar.gz.asc
	validpgpkeys = EDCEFB1FDAFFAC7952EED46F9927644B850BDD23
	sha256sums = 58eee75e81ac305db0b71a8cd4b821ff3cabcdfa0575e56ba5e4ce543531bd2f
	sha256sums = SKIP

pkgname = dpp
