pkgbase = dpp
	pkgdesc = Lightweight and Scalable C++ Discord API Bot Library
	pkgver = 10.0.28
	pkgrel = 1
	url = https://dpp.dev/
	install = dpp.install
	changelog = dpp.changelog
	arch = x86_64
	license = Apache
	makedepends = cmake
	makedepends = pkgconf
	depends = glibc
	depends = gcc-libs
	depends = openssl
	depends = zlib
	depends = nlohmann-json
	optdepends = opus: voice support
	optdepends = libsodium: voice support
	source = https://github.com/brainboxdotcc/DPP/releases/download/v10.0.28/DPP-10.0.28.tar.gz
	source = https://github.com/brainboxdotcc/DPP/releases/download/v10.0.28/DPP-10.0.28.tar.gz.asc
	validpgpkeys = EDCEFB1FDAFFAC7952EED46F9927644B850BDD23
	sha256sums = aa0c16a1583f649f28ec7739c941e9f2bf9c891c0b87ef8278420618f8bacd46
	sha256sums = SKIP

pkgname = dpp
