pkgbase = dpp
	pkgdesc = Lightweight and Scalable C++ Discord API Bot Library
	pkgver = 10.0.27
	pkgrel = 1
	url = https://dpp.dev/
	install = dpp.install
	changelog = dpp.changelog
	arch = x86_64
	license = Apache
	makedepends = cmake
	makedepends = pkgconf
	depends = glibc
	depends = gcc-libs
	depends = openssl
	depends = zlib
	depends = nlohmann-json
	optdepends = opus: voice support
	optdepends = libsodium: voice support
	source = https://github.com/brainboxdotcc/DPP/archive/refs/tags/v10.0.27.tar.gz
	validpgpkeys = EDCEFB1FDAFFAC7952EED46F9927644B850BDD23
	sha256sums = 525a5c10a5fdd69996f48826ea1c37a3f08ba934c95e4cb9738afd209a2ecdb7

pkgname = dpp
